[
{
    'Name': 'OpenSSH_5.9p1',
    'Version': 'SSH-2.0-OpenSSH_5.9p1 Debian-5ubuntu1.3'
}, {
    'Name': 'OpenSSH_5.1p1',
    'Version': 'SSH-2.0-OpenSSH_5.1p1 Debian-5'
}, {
    'Name': 'OpenSSH_5.3',
    'Version': 'SSH-2.0-OpenSSH_5.3'
}, {
    'Name': 'Dropbear',
    'Version': 'SSH-2.0-dropbear_2011.54'
}, {
    'Name': 'freeSSHd',
    'Version': 'SSH-2.0-WeOnlyDo 2.1.3'
}
]
