ftp_bind_port 4021

ftp_version "FTP Server"

ftp_banner " ftp.inet.fi FTP server (Version iNET AnonFTPD 24216(7) Mon Dec 27 13:53:22 EET"

ftp_recursive_delete no

pop3_bind_port 4110

pop3_banner "PROXY server ready"


smtp_bind_port 4025

smtp_banner "smtp-33.iol.local bizsmtp ESMTP server ready"


http_bind_port 4080

http_version "cloudflare-nginx"

https_bind_port 4443

https_version "Apache/2.2.17 (Ubuntu)"


