[
{
    'Name': 'Samba',
    'Version': '\x83\x00\x00\x01\x81' 
},{
    'Name': 'Windows 98',
    'Version': '\x83\x00\x00\x01\x8f'
},{
    'Name': 'Netware 6 SMB Services',
    'Version': '\0\0\0M\xffSMBr\0\0\0\0\x80\x01\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0@\x06\0\0\x01\0\x11\x07\0\x032\0\x01\0\xff\xff\0\0\0\0\x01\0'
},{
    'Name': 'DAVE filesharing',
    'Version': '\0\0\0.\xffSMBr\x02\0Y\0\x98\x01.\0\0\0\0\0\0\0\0\0\0\0\0\0\0@\x06\0\0\x01\0\0\x07\0'
}
]
