[
{
    'Name': 'vsftpd',
    'Version': '220 Welcome to blah FTP service.\r\n'
},{
    'Name': 'ProFTPD',
    'Version': '220 FTP Server ready.\r\n' 
},{
    'Name': 'LukemFTPD',
    'Version': '220 FTP server (lukemftpd 1.0) ready.\r\n' 
},{
    'Name': 'Microsoft ftpd',
    'Version': '220 Microsoft FTP Service (Version 13)' 
},{
    'Name': 'Z-FTPd',
    'Version': '220 Z-FTP\r\n' 
}
]
