[
{
    'Name': 'Postfix',
    'Response': '220 metasploitable.localdomain ESMTP Postfix (Ubuntu)\r\n'
},

{
	'Name': 'Sendmail',
    'Response': '220 akash.server.com ESMTP Sendmail 8.14.4/8.14.4/Debian-2ubuntu2.1; Sat, 3 May 2014 20:48:07 -0500; (No UCE/UBE) logging access from: localhost(OK)-localhost [127.0.0.1]\r\n'
}
]
